<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <script src="/js/header.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">
    <h1> THIS IS A DEFAULT HEADER</h1>
</div>
<div id="cardinfo-container">
    <div id="form-tocomplete">
        <h3>Add a card</h3>
        <form id="card-form">
            <label for="form-name">Name</label>
            <div >
                <input id="form-name" class="inputsform" type="text"
                       placeholder="Card name..." name="name">
            </div>
            <label  for="form-description">Description</label>
            <div >
                <input id="form-description" class="inputsform" type="text"
                       placeholder="Card description..." name="description">
            </div>
            <label  for="form-imgUrl">Image URL</label>
            <div >
                <input  id="form-imgUrl" class="inputsform" type="text"
                        placeholder="Card image URL..." name="imgUrl">
            </div>
            <label  for="form-family">Family</label>
            <div >
                <select  id="form-family" class="inputsform" name="family">
                    <option value="warrior">Warrior</option>
                    <option value="mage">Mage</option>
                    <option value="rogue">Rogue</option>
                    <option value="knight">Knight</option>
                    <option value="cleric">Cleric</option>
                    <option value="bard">Bard</option>
                </select>
            </div>
            <label  for="form-rarity">Rarity</label>
            <div >
                <select  id="form-rarity" class="inputsform" name="rarity">
                    <option value="common">Common</option>
                    <option value="uncommon">Uncommon</option>
                    <option value="rare">Rare</option>
                    <option value="ultra_rare">Ultra Rare</option>
                </select>
            </div>
            <label for="form-sliderhp">HP</label>
            <div class="sliders">
                <input type="range" id="form-sliderhp" name="hp" min="0" max="100" step="1" value="50" oninput="updateValue('sliderHpValue',this.value)">
                <div class="slidersValue" id="sliderHpValue">50</div>
            </div>
            <label for="form-sliderenergy">Energy</label>
            <div class="sliders">
                <input type="range" id="form-sliderenergy" name="energy" min="0" max="100" step="1" value="50" oninput="updateValue('sliderEnergyValue',this.value)">
                <div class="slidersValue" id="sliderEnergyValue">50</div>
            </div>
            <label for="form-sliderattack">Attack</label>
            <div class="sliders">
                <input type="range" id="form-sliderattack" name="attack" min="0" max="100" step="1" value="50" oninput="updateValue('sliderattackValue',this.value)">
                <div class="slidersValue" id="sliderattackValue">50</div>
            </div>
            <label for="form-sliderdefense">Defense</label>
            <div class="sliders">
                <input type="range" id="form-sliderdefense" name="defense" min="0" max="100" step="1" value="50" oninput="updateValue('sliderdefenseValue',this.value)">
                <div class="slidersValue" id="sliderdefenseValue">50</div>
            </div>
            <div>
                <label for="form-price">Price</label>
                <input type="number" class="inputsform" id="form-price" name="price" min="0" max="1000" step="0.01" placeholder="Enter price in €">
            </div>
            <div>
                <input type="submit"  class="uk-button uk-button-default" value="Create" />
            </div>
            <div>
                <button type="button" class="uk-button uk-button-default" onclick="cancel()">Cancel</button>
            </div>
        </form>
    </div>
    <div id="image-preview-container">
        <h3>Image Preview</h3>
        <img id="image-preview" src="#" alt="Image Preview" style="max-width: 100%; max-height: 200px;">
    </div>
</div>
<script>
    function updateValue(id, val) {
        document.getElementById(id).innerText = val;
    }
    // Fonction pour mettre à jour l'aperçu de l'image
    function updateImagePreview() {
        var imgUrl = document.getElementById('form-imgUrl').value;
        var imagePreview = document.getElementById('image-preview');

        // Mettre à jour l'attribut src de l'élément img avec l'URL de l'image saisie
        imagePreview.src = imgUrl;
    }
    // Ajouter un écouteur d'événements pour le champ d'URL de l'image
    document.getElementById('form-imgUrl').addEventListener('input', updateImagePreview);
    // Fonction pour rediriger vers la page d'accueil ("/")
    function cancel() {
        window.location.href = "/";
    }

    document.getElementById('card-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(event.target);
        const formDataObject = {};
        formData.forEach((value, key) => formDataObject[key] = value);

        fetch('/cards/addCards', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formDataObject)
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .then(data => {
                console.log('Success:', data);
                // Optionally, update the UI or redirect to another page
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>
</body>
</html>
