<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" href="/css/custom.css" />
  <script src="/js/header.js"></script>
</head>
<body onload = myfonction()>
<div th:replace="~{fragments/header :: header}">
  <h1> THIS IS A DEFAULT HEADER</h1>
</div>



<div id="cardListContainer">

</div>

<template id="cardTemplate">
  <div class="card-info">
    <h3 class="cardview">{{cardviewTitle}}</h3>
    <div class="card-container">
      <img class="cardview" src='{{cardviewImg}}' alt="">
      <div>
        <div class="cardview">
          <div class="cardrow">
            <h5>{{cardFamily}}</h5>
            <h5>{{cardAffinity}}</h5>
          </div>
          <div class="cardrow">
            <h5>{{cardHp}}</h5>
            <h5>{{cardEnergie}}</h5>
            <h5>{{cardAttack}}</h5>
            <h5>{{cardDefence}}</h5>
          </div>
        </div>
        <h5>{{cardPrix}}</h5>
        <h5>{{cardDescription}}</h5>
      </div>
    </div>
  </div>
  <hr />
</template>
<script src="/js/cardViewList.js"></script>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
