<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>
<body>
<div th:replace="~{fragments/header :: header}">
  <h1> THIS IS A DEFAULT HEADER</h1>
</div>



  <div th:each="card : ${cardList}">

    <div class="card-info">
      <h3 class="cardview" th:utext="${card.name}">...</h3>
      <div class="card-container">
        <img class="cardview" th:src="${card.imgUrl}" alt="">
        <div>
          <div class="cardview">
            <div class="cardrow">
              <h5 th:text="${card.family}"></h5>
              <h5 th:text="${card.affinity}"></h5>
            </div>
            <div class="cardrow">
              <h5 th:text="'HP: ' + ${card.hp}"></h5>
              <h5 th:text="'Energy: ' + ${card.energy}"></h5>
              <h5 th:text="'Attack: ' + ${card.attack}"></h5>
              <h5 th:text="'Defense: ' + ${card.defence}"></h5>
            </div>
          </div>
          <h5 th:text="'Price: ' + ${card.prix} + '€'"></h5>
          <h5 th:text="'Description: ' + ${card.description}"></h5>
        </div>
      </div>
    </div>
    <hr />
  </div>
</body>
</html>
