<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="~{fragments/header :: header}">
    <h1>Welcome</h1>
    <hr>
</div>
<h2 th:utext="${message}">..!..</h2>
    <ul>
        <a href="/view" class="imgindex"><img src="/img/buy.jpg" width="100" alt=""></a>
        <a href="/addCard" class="imgindex"><img src="img/sell.jpg" width="100" alt=""></a>
        <a href="/list" class="imgindex"><img src="img/pay.jpg" width="100" alt=""></a>
    </ul>
</div>
</body>
</html>
