<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <script src="/js/header.js"></script>
    <script src="/js/credits.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">
    <h1>Cardquest</h1>
    <hr>
</div>
<div class="imgindex-container">
    <ul>
        <a href="/buycard" class="imgindex"><img src="/img/buyfin.jpg" alt="" ></a>
        <a href="/sellcard" class="imgindex"><img src="/img/sellfin.jpg" alt=""></a>
        <a href="/listAllCardView" class="imgindex"><img src="/img/playfin.jpg" alt=""></a>
        <a href="/addCardView" class="imgindex"><img src="/img/addfin.jpg" alt=""></a>
    </ul>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
