<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>BUY cards</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <script src="/js/header.js"></script>
</head>
<body onload = myfonction()>
<div th:replace="~{fragments/header :: header}">
    <h1>Cardquest</h1>
    <hr>
</div>
<div class="GlobalContain">
    <div class="TabContain">
        <table class="Tableau">
            <thead>
            <tr>
                <th>Name</th>
                <th>Descript</th>
                <th>Family</th>
                <th>Affinity</th>
                <th>Energy</th>
                <th>HP</th>
                <th>Attack</th>
                <th>Defence</th>
                <th>Price</th>
                <th>Preview</th>
                <th>Sell</th>
            </tr>
            </thead>
            <tbody id="table-body">
            <!-- Rows will be populated here using JavaScript -->
            </tbody>
        </table>
    </div>
    <div class="GlobalPreviewCard">
        <div class="PreviewCard">
            <img src="" alt="Card Image" id="imagePreview">
        </div>
    </div>
</div>

<template id="row-template">
    <tr>
        <td>{{CardName}}</td>
        <td>{{CardDescription}}</td>
        <td>{{CardFamily}}</td>
        <td>{{CardAffinity}}</td>
        <td>{{CardEnergy}}</td>
        <td>{{Cardhp}}</td>
        <td>{{CardDefence}}</td>
        <td>{{CardAttack}}</td>
        <td>{{CardPrice}}</td>
        <td><button onclick = "PreviewCard('{{CardImage_src}}')">Preview</button></td>
        <td><button onclick = "SellCard('{{CardName}}')">Sell</button></td>
    </tr>
</template>
<script src="/js/sell.js"></script>

</body>
</html>