<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login and Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <script src="/js/header.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">
    <h1>Cardquest</h1>
    <hr>
</div>
<div class="container">
    <h2>Login</h2>
    <div id="login-form">
        <input type="text" id="login-username" placeholder="Username" required>
        <input type="password" id="login-password" placeholder="Password" required>
        <button onclick="login()">Login</button>
        <div id="login-error" class="error"></div>
    </div>
    <h2>Register</h2>
    <div id="register-form">
        <input type="text" id="register-username" placeholder="Username" required>
        <input type="password" id="register-password" placeholder="Password" required>
        <button onclick="register()">Register</button>
        <div id="register-error" class="error"></div>
    </div>
    <button onclick="deconnecteruser()">Se déconnecter</button>
</div>

<script>
    async function login() {
        const username = document.getElementById('login-username').value;
        const password = document.getElementById('login-password').value;

        const response = await fetch('/users/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        });

        if (response.ok) {
            const data = await response.json();
            localStorage.setItem('username', data.username);
            localStorage.setItem('userId', data.userId);
            localStorage.setItem('credits', data.credits);
            alert('Login successful');
            window.location.href = '/index';
        } else {
            document.getElementById('login-error').innerText = 'Login failed. Please check your credentials.';
        }
    }

    // Call the function on form submission
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the form from submitting the traditional way
        login();
    });


    async function register() {
        const username = document.getElementById('register-username').value;
        const password = document.getElementById('register-password').value;

        const response = await fetch('/users/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        });

        if (response.ok) {
            alert('Registration successful');
            console.log('Registration successful');
            window.location.reload(); // Rafraîchir la page si l'inscription est réussie
        } else {
            document.getElementById('register-error').innerText = 'Registration failed.';
        }
    }
    async function deconnecteruser() {
        // Supprimer les éléments du stockage local
        const response = await fetch('/users/deconnect', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
        });
        if (response.ok) {
            alert('Deconection successful');
            console.log('Deconection successful');
            window.location.reload();
        } else {
            document.getElementById('register-error').innerText = 'Deconection failed.';
        }
        localStorage.removeItem('username');
        localStorage.removeItem('credits');
        window.location.reload(); // Rafraîchir la page si l'inscription est réussie
    }

</script>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
