<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>HEADER</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<div th:fragment="header" class="header">
    <div class="headertocenter">
        <h1 th:text="${credits}">0</h1>
    </div>
    <div class="headertocenter">
        <h1 th:text="${pageTitle}"></h1>
    </div>
    <div class="headertocenter" id="connexion">
        <a href="/userView">
            <img th:src="@{/img/connexion.png}" alt="Connexion">
            <div id="nameofuser" th:text="${username}">Connectez-vous</div>
        </a>
    </div>
</div>
</body>
</html>
