html {
    font-size: 30px;
    height: 100%;
}

body {
    font-size: 20px;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.imageCard {
    height: 100px;
}

.limitText {
    text-overflow: ellipsis;
}

.ui.messageLight {
    background: #ffffff;
    padding: 1em 1.5em;
    line-height: 1.4285em;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px rgba(252, 252, 252, 0.22) inset, 0 0 0 0 transparent;
}

.overflowHiden {
    overflow: auto;
}

.imgindex-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.imgindex img {
    width: 400px;
    margin-right: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap; /* Ajoutez cette ligne pour permettre le retour à la ligne des éléments si nécessaire */
}

.connexion {
    display: flex; /* Ajoutez cette ligne pour aligner horizontalement les éléments */
    align-items: center;
}

#connexion{
    display: flex;
}

.headertocenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headertocenter img {
    margin-bottom: 5px; /* Ajoute un espace entre l'image et le texte */
}

.container {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: grey;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: darkslategrey;
}

.error {
    color: red;
    margin: 10px 0;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardinfo-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.inputsform {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.inputsform:focus {
    outline: none;
    border-color: #007bff;
}

.inputsform::placeholder {
    color: #999;
}

.inputsform[type="submit"] {
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inputsform[type="submit"]:hover {
    background-color: #0056b3;
}

#card-preview {
    flex: 2;
    margin-right: 20px;
    max-width: 400px;
}

#sliderHpValue,
#sliderEnergyValue,
#sliderattackValue,
#sliderdefenseValue {
    margin-left: 10px;
}

#form-tocomplete {
    flex: 1;
    margin-right: 20px;
    max-width: 400px;
}

.sliders {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slidersValue {
    font-size: 14px;
}

.card-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.cardview-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.card-description {
    margin-top: 20px;
    text-align: center;
}

.cardrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.cardview-details-item {
    margin: 0;
    text-align: center;
}

.imageCard img {
    max-width: 100px;
    height: auto;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.GlobalContain{
    margin: 3%;
    display: flex;
    width: 100%;
}

.TabContain {
    flex: auto;
    max-width: 100%;
    table-layout: auto;
    border: 1px solid black;
}
.GlobalPreviewCard {
    flex: auto;
    max-width: 100%;
}
th {
    border: 1px solid black;
    width: 100%;
}
td {
    border: 1px solid black;
    width: 100%;
}
tbody{
    max-width: 100%;
}